<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Demo Project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document</title>
        
    </head>
    <body>
    	<header>
    		<ul>
    			<li>Logged In {{user}}</li>
    			<li><a href="{% url 'index' %}">Home</a></li>
    			{% if user.is_authenticated %}
    			<li><a href="{% url 'accounts:user_logout' %}">Logout</a></li>
    			{% else %}
    			<li><a href="{% url 'accounts:user_login' %}">Login</a></li>
    			
    			<li><a href="{% url 'accounts:user_signup' %}">Signup</a></li>
    			{% endif %}
    		</ul>
    	</header>
        <div>
        	{% block content%}
        	{% endblock %}
        </div>
        
    </body>
    <script src="main.js"></script>
</html>