{% extends 'carts/base.html' %}

{% block content %}

{% if not billing_profile %}
<a href="{% url 'account_login' %}?next={{request.build_absolute_uri}}">Login</a>
<form action="{% url 'account_login' %}?next={{request.build_absolute_uri}}" next="{{request.build_absolute_uri}}">
	<input type="hidden" next="{{request.build_absolute_uri}}" name='next' value="{% url 'orders:checkout' %}">
	<button class="btn btn-info">Login</button>
</form>
<form action="{% url 'account_signup' %}">
	<input type="hidden" name='next' value="{{ request.META.HTTP_REFERER }}">
	<button class="btn btn-info">SignUp</button>
</form>

{% endif %}

<h1>Checkout Page</h1>
<p>Order ID: {{order_obj.order_id}}</p>
<p>Shipping Total: {{order_obj.shipping_total}}</p>
<p>Order Total: {{order_obj.total}}</p>


{% endblock %}