{% extends 'base.html' %}
{% block content %}
<p>{{order_obj.order_id}} -- {{order_obj.cart.id}} -- {{order_obj.billing_profile.id}}</p>

{% if not billing_profile %}
<p>We need to check if a Billing Profile is created or not</p>
<div class="grid">
	<div>
		<!-- Login Form -->

		<!-- Action should go to user_login view -->
		{% url 'accounts:user_login' as user_login %}
		<h5>Login Form</h5>
		{% url 'carts:cart_checkout' as cart_checkout %}
		{% include 'accounts/snippets/account_form.html' with form=loginForm action_url=user_login next_url=cart_checkout %}
	</div>
	<div>
		<!-- Guest Registration -->

		<!-- Action should go to user_guest view -->
		{% url 'accounts:user_guest' as user_guest %}
		{% url 'carts:cart_checkout' as cart_checkout %}
		<h5>Guest Registration</h5>
		{% include 'accounts/snippets/account_form.html' with form=guestForm action_url=user_guest next_url=cart_checkout %}

	</div>
	
</div>



{% elif not order_obj.shipping_address %}
<p>Billing profile Compeleted {{billing_profile.email}}</p>
<p>We need Shipping Address</p>
<div class="grid">
	<div>
		{% url 'addresses:address_create' as address_create %}
		{% include 'addresses/snippets/address_form.html' with form=addressForm action_url=address_create address_type='shipping' %}
		
	</div>
	<div>
		{% url 'addresses:address_update' as address_update %}
		{% include 'addresses/snippets/address_form.html' with action_url=address_update object_list=old_addresses address_type='shipping' %}
		
	</div>
</div>


{% elif not order_obj.billing_address %}
<p>We need Billing Address</p>
<div class="grid">
	<div>
		{% url 'addresses:address_create' as address_create %}
		{% include 'addresses/snippets/address_form.html' with form=addressForm action_url=address_create address_type='billing' %}
		
	</div>
	<div>
		{% url 'addresses:address_update' as address_update %}
		{% include 'addresses/snippets/address_form.html' with action_url=address_update object_list=old_addresses address_type='billing' %}
		
	</div>
</div>

{% else %}
<table class="table table-striped table-hover">
	<thead>
		<th>Item</th>
		<th></th>
		<th>Price</th>
		<th>Total</th>
	</thead>
	<tbody>
		{% for product in cart_obj.products.all %}
		<tr>
			<td>{{product.title}}</td>
			<td>
				{% include 'carts/snippets/cart_update.html' with next_url=request.build_absolute_uri %}
			</td>
			<td>{{product.price}}</td>
			<td></td>
		</tr>
		{% endfor %}
		<tr>
			<td>Total</td>
			<td></td>
			<td></td>
			<td>{{order_obj.total}}</td>
		</tr>
	</tbody>
</table>

<div class="grid">
	<div>
		<h5>Shipping Address</h5>
		<p>{{order_obj.shipping_address}}</p>
		{% url 'addresses:address_update' as address_update %}
		{% include 'addresses/snippets/address_form.html' with action_url=address_update object_list=old_addresses address_type='shipping' %}
	</div>
	<div>
		<h5>Billing Address</h5>
		<p>{{order_obj.billing_address}}</p>
		<div>
		{% url 'addresses:address_update' as address_update %}
		{% include 'addresses/snippets/address_form.html' with action_url=address_update object_list=old_addresses address_type='billing' %}
		
	</div>
	</div>
</div>

<a href="{% url 'carts:cart_success' %}" class="btn btn-info">Finalize / Ready to Place Order</a>

{% endif %}

{% endblock %}