<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Demo Project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Comment Delete</h1>
        <div class="container">
			<form method='POST'>
				{% csrf_token %}
				<p class="lead">Would you like to delete {{comment}}</p>
				<input class='btn btn-danger' type="submit" value="Delete">
			</form>
		</div>
    </body>
    <script src="main.js"></script>
</html>



