{% extends 'base.html' %}
{% block content %}
<h4>Product Home</h4>


<table class="table table-striped table-hover">
	<thead>
		<th>Item</th>
		<th></th>
		<th>Price</th>
		<th>Total</th>
	</thead>
	<tbody>
		{% for product in product_list %}
		<tr>
			<td><a href="{{product.get_absolute_url}}">{{product.title}}</a></td>
			<td>
				{% url 'carts:cart_update' pk=product.pk as cart_update %}
				{% include 'carts/snippets/cart_update.html' with action_url=cart_update next_url=request.build_absolute_uri object=product object_list=cart_obj.products.all %}
			</td>
			<td>{{product.price}}</td>
			<td></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}