{% extends 'base.html' %}
{% block content %}
<h4>Order History</h4>
<table class="table table-striped table-hover">
	<thead>
		<th>Item</th>
		<th></th>
		<th>Price</th>
		<th>Total</th>
	</thead>
	<tbody>
		{% for order in orders %}
			<tr>
				<td>{{order.order_id}}</td>
				<td>
					{% for product in order.cart.products.all %}
						<p>{{product}}</p>
					{% endfor %}
				</td>
				<td>{{order.total}}</td>
				<td>{{order.shipping_address}} {{order.billing_address}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>



{% endblock %}