{% extends 'base.html' %}

{% block content%}
<h3>Your Cart</h3>

<table class="table table-striped table-hover">
	<thead>
		<th>Item</th>
		<th></th>
		<th>Price</th>
		<th>Total</th>
	</thead>
	<tbody>
		{% for product in cart_obj.products.all %}
		<tr>
			<td>{{product.title}}</td>
			<td>
				{% include 'carts/snippets/update_form.html' %}
			</td>
			<td>{{product.price}}</td>
			<td></td>
		</tr>
		{% endfor %}
		<tr>
			<td>Total</td>
			<td></td>
			<td></td>
			<td>{{cart_obj.total}}</td>
		</tr>
	</tbody>
</table>
{% if cart_obj.products.all %}
<a class="btn btn-primary" href="{% url 'carts:checkout' %}">Checkout</a>
{% else %}
<a class="btn btn-primary" href="{% url 'products:product_list' %}">Cart is Empty - Go shopping!</a>
{% endif %}

{% endblock %}