{% extends 'base.html' %}

{% block content %}

<!-- Billing Profile to have a reference Point -->
<!-- Addresses to collect and Store our addresses -->
<!-- Orders to manage our order details -->



<!-- Guest Email Collection -->
<!-- User Login -->
{% if not billing_profile %}
	<!-- Login -->
	<div class="grid">
		<div>
			<h5>User Login</h5>
			{% include 'accounts/snippets/login.html' with form=loginForm next_url=request.build_absolute_uri %}
		</div>

	<!-- Guest -->
		<div>
			<h5>Guest Email Registration</h5>
			{% include 'accounts/snippets/login.html' with form=guestForm next_url=request.build_absolute_uri guest_login=True %}
		</div>
	</div>	

<!-- Collect Shipping Address -->
{% elif not order_obj.shipping_address %}
<p>Enter Shipping address</p>
{% include 'addresses/snippets/address_form.html' with form=addressForm next_url=request.build_absolute_uri address_type='shipping' %}





<!-- Collect Billing Address -->
{% elif not order_obj.billing_address %}
<p>Enter Billing Address</p>








{% else %}
<!-- Final Steps -->
<table class="table table-striped table-hover">
	<thead>
		<th>Item</th>
		<th></th>
		<th>Price</th>
		<th>Total</th>
	</thead>
	<tbody>
		{% for product in cart_obj.products.all %}
		<tr>
			<td><a href="{{product.get_absolute_url}}">{{product.title}}</a></td>
			<td>{% include 'carts/snippets/update_cart.html' with object=product object_list=cart_obj.products.all next_url=request.build_absolute_uri %}</td>
			<td>{{product.price}}</td>
			<td></td>
		</tr>
		{% endfor %}
		<tr>
			<td>Total</td>
			<td></td>
			<td></td>
			<td>{{cart_obj.total}}</td>
		</tr>
	</tbody>
</table>
<a href="" class="btn btn-primary">Ready to Place Order</a>
{% endif %}
{% endblock %}